<html th:replace="base::layout(~{::section})">

<body>
	<section>
		<div class="container top-blad">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card mt-1">
						<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p th:text="${session.message.content}"></p>
						</div>

						<div class="container text-center">
							<img class="text-center" style="width: 70px;" src="" th:src="@{/img/cpp.png}" alt="" />
						</div>
						<h1 class="text-center text-primary p1">Get Started</h1>
						<form action="" th:action="@{/do_register}" method="post" th:object="${user}">
							<div class="form-group">
								<label for="name_field">Your Name</label>
								<input name="name" type="text" class="form-control p1" id="name_field"
									aria-describedby="emailHelp" placeholder="Enter Here" required
									th:value="${user.name}" autocomplete="off" />





							</div>
							<div class="form-group">
								<label for="email_field">Your Email</label>
								<input name="email" type="email" class="form-control p1" id="email_field"
									aria-describedby="emailHelp" placeholder="eg: abc@gmail.com" required
									th:value="${user.email}" autocomplete="off" />
							</div>
							<div class="form-group">
								<label for="password_field">Enter a Password</label>
								<input name="password" type="password" class="form-control p1" id="password_field"
									aria-describedby="emailHelp" placeholder="Don't forget your password !" required
									th:value="${user.password}" autocomplete="off" />
							</div>
							<div class="form-group p1">
								<textarea name="about" placeholder="Tell about yourself" rows="10" class="form-control"
									th:text="${user.about}"></textarea>
							</div>
							<div class="form-group form-check">
								<input type="checkbox" name="agreement" class="form-check-input p1" id="agreement"
									required />
								<label for="agreement">
									Accept terms and conditions >>
								</label>
							</div>
							<div class="container text-center p1">
								<button type="submit" class="btn bg-primary text-white">
									Submit
								</button>
								<button type="reset" class="btn bg-secondary text-white">
									Reset
								</button>
							</div>
							<p class="text-center mt-3">
								Already have an account ? <a th:href="@{/login}">Login here</a>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>